In [1]:
import pandas as pd
import numpy as np

In [4]:
path = '~/dev/AFP_Forecast_Alpha_Using_ML/FF3/Beta-FamaFrench3F-2001.csv'
df = pd.read_csv(path)#, dtype=)
df.head().T

                 0           1           2           3           4
PERMNO       10078       10078       10078       10078       10078
DATE    2001/10/02  2001/08/30  2001/03/22  2001/11/12  2001/03/07
n              252         252         252         252         252
RET       -1.4760%   -17.5726%     2.7211%    -1.4706%    -0.8427%
alpha            0      0.0026      0.0046      0.0009      0.0037
b_mkt        1.169      0.5754      0.8386      1.2908      0.8846
b_smb      -1.0409     -1.8955     -1.0403     -0.8643      -0.983
b_hml      -2.6135     -3.4486     -2.7573     -2.6059     -2.6667
ivol       4.1667%     4.0490%     3.4953%     4.2870%     3.3619%
tvol       5.9712%     5.9063%     5.3047%     6.0455%     5.1486%
R2        51.3057%    53.0027%    56.5846%    49.7155%    57.3616%
exret     -3.9569%   -13.9760%    -0.5056%    -1.8680%     0.2384%
TICKER        SUNW        SUNW        SUNW        SUNW        SUNW

In [5]:
df.columns

Index(['PERMNO', 'DATE', 'n', 'RET', 'alpha', 'b_mkt', 'b_smb', 'b_hml',
       'ivol', 'tvol', 'R2', 'exret', 'TICKER'],
      dtype='object')